<h1>Likelion Blog</h1>
<% if user_signed_in? %>
    <h2>글 작성하기</h2>
    <%=form_for :post, url: posts_path, method: :post do |f| %>
        닉네임 : <%=f.text_field :name   %><br>
        이메일 : <%=f.text_field :email  %><br>
        비밀번호 : <%=f.password_field :password  %><br>
        <%=f.text_area :content  %>
        <%=f.submit %>
    <% end %>
<% end %>
<br>
<div class ="post">
    <% @posts.each do |post| %>
        <p><%=post.name%> (<%=post.email%>)</p>
        <p><%=post.content%></p>
        <% if user_signed_in? %>
        <%=link_to "수정", edit_post_path(post.id) %>
        <%=link_to "삭제", post, :method => :delete %></p>
        <% end %>
        <p></p>
    <% end %>
</div>
<br>
<br>